<!DOCTYPE html>
<html>
  <head>
    <title>Jóia Da Europa</title> <!--estrutura-->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'estilos', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Global styles here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <header class="row" style="text-align: center;">
      <div class="col-md-3">
        <%= link_to 'PT', '/?lang=pt' %>
        <span>|</span>
        <%= link_to 'EN', '/?lang=en' %>
      </div>
      <div class="col-md-6">

      </div>
      <div class="col-md-3">
        <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, {method: 'delete'} %>
        <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
        <% end %>
      </div>
    </header>

    <%= yield %>

    <% if notice %>
    <div class="alert alert-info" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= notice %>
    </div>
    <% end %>
    <% if alert %>
    <div class="alert alert-warning" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= alert %>
    </div>
    <% end %>
  </body>
</html>
