<!DOCTYPE html>
<html>
<head>
    <title>Jóia Da Europa</title> <!--estrutura-->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <%= stylesheet_link_tag 'estilos', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Global styles here -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body data-spy="scroll" data-target="#top-nav">
<!-- N4vbar -->
<nav  class="navbar navbar-default navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <a class="button" href="/home/index"><img src="<%= asset_path '2.png' %>" width="190px"></a>
        </div>
        <div class="collapse navbar-collapse" id="top-nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/profile/index"><%= t("profile") %></a></li>
                <li><a href="#quem_somos"><%= t("about_us") %></a></li>
                <li><a href="#missao"><%= t("mission") %></a></li>
                <li><a href="#noticia"><%= t("news") %></a></li>
                <li><a href="#contacto"><%= t("contact") %></a></li>
                <li><a href="#parceria"><%= t("partnerships") %></a></li>
                <li><a onclick="openNav('myNavl')">LOGIN</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="jumbotron">
    <header class="row">
        <div class="col-md-3">
            <%= link_to 'PT', '?lang=pt' %>
            <span>|</span>
            <%= link_to 'EN', '?lang=en' %>
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-3">
            <% if current_user %>
                <%= link_to 'Sign Out', destroy_user_session_path, {method: 'delete'} %>
            <% else %>
                <%= link_to 'Sign In', new_user_session_path %>
            <% end %>
        </div>
    </header>
</div>

<div align="right">
    <%= form_tag("/search", method: "get") do %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
    <% end %>
</div>

<%= yield %>

<% if notice %>
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <%= notice %>
    </div>
<% end %>
<% if alert %>
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <%= alert %>
    </div>
<% end %>

<!-- Fo4ter -->
<div class="footer container-fluid text-center">
    <a href="" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>2016-2017 | PROJETO E DESENVOLVIMENTO DE SOFTWARE | GRUPO 4</p>
</div>
</body>
</html>

