<!-- g4PageContent -->
<div class="col-lg-10 text-left">
  <h1><b>ENCOMENDAS</b></h1>
  <br><br> <span></span>
  <table class="table table-left">
    <thead>
    <tr>
      <th>Nº</th>
      <th>Descrição</th>
      <th>Data de Entrega</th>
      <th>Preço Unitário</th>
      <th>Quantidade</th>
      <th>Estado</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @order.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.description %></td>
          <td><%= order.delivery_date %></td>
          <td><%= order.unit_price %></td>
          <td><%= order.quantity %></td>
          <td><%= order.state.description %></td>
          <td><%= link_to t("detail"), order_detail_path(order.id) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>