<!-- g4PagContent -->
        <div class="col-lg-10 text-center">
            <h1><b>DETALHES DE ENCOMENDA</b></h1>
            <i></i>
            <br><br>
            <div class="col-lg-10 text-left">
                <table width="100%" class="table-responsive table-striped">
                    <thead>
                    <tr>
                        <th>Nº</th>
                        <th>Descrição</th>
                        <th>Data de Entrega</th>
                        <th>Preço Unitário</th>
                        <th>Quantidade</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="odd gradeX">
                        <td><%= @order.id %></td>
                        <td><%= @order.description %></td>
                        <td><%= @order.delivery_date %></td>
                        <td><%= @order.unit_price %></td>
                        <td><%= @order.quantity %></td>
                        <td><%= @order.state.description %></td>
                        <td><%= link_to t("edit"), order_edit_path %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>