<!-- Pag4Content -->
<div class="col-lg-10 text-left">
  <h1><i><%= t("end_orders") %></i></h1>
  <br /> <br />

  <div class="w3-display-topleft" style="padding-top: 80px">
    <a href="/order/hold" class="w3-button w3-padding-small w3-small"><%= t("hold_orders") %></a>
    <a href="/order/cancel" class="w3-button w3-padding-small w3-small"><%= t("cancel_orders") %></a>
    <a href="/order/all" class="w3-button w3-padding-small w3-small"><%= t("all_orders") %></a>
  </div>

  <div class="col-lg-10" style="padding-top: 50px">
    <table class="w3-table">
    <thead>
    <tr>
      <th><%= t("id") %></th>
      <th><%= t("description") %></th>
      <th><%= t("delivery_date") %></th>
      <th><%= t("unit_price") %></th>
      <th><%= t("quantity") %></th>
      <th><%= t("state_id") %></th>
      <th><%= t("upload_id") %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.description %></td>
          <td><%= order.delivery_date %></td>
          <td><%= order.unit_price %></td>
          <td><%= order.quantity %></td>
          <td><%= order.state.description %></td>
          <td class="btn btn-default"><%= link_to t("attachment"), sprintf('/uploads/%s', order.upload.imageable_type), target: '_blank' %></td>
          <td class="w2-button"><%= link_to t("detail"), order_detail_path(order) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>