<style>
  header {
    padding: 5px;
    background-color: black;
  }

  .row.content {height: 450px}

  .navbar {background-color: black;}

  .sidenav {
    padding-top: 30px;
    background-color: black;
    height: 150%;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }

  input[type=text]:focus {
    background-color: ghostwhite;
  }
</style>

<nav class="navbar ">
  <a class="navbar-brand" href="/home/index"><img src="<%= asset_path '2.png' %>"></a>
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Procurar</button>
  </form>
  </div>
</nav>

<div class="container-fluid text-left">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br><a href="/profile/index">PERFIL</a></br>
      <br><a href="/client_area/index">ÁREA DE CLIENTE</a></br>
      <br>
      <div class="w3-dropdown-hover">
        <a href="/order/show">ENCOMENDAS</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/hold_order/index" class="w3-bar-item w3-button">Encomendas Pendentes</a>
          <a href="#" class="w3-bar-item w3-button">Encomendas para Revisão</a>
          <a href="#" class="w3-bar-item w3-button">Encomendas Concluídas</a>
          <a href="/order/new" class="w3-bar-item w3-button">Nova Encomenda</a>
        </div>
      </div>
    </div>

    <div class="col-lg-10 text-left">
      <%= form_for @order, url: {action: "create"} do |f| %>

                   <dd><%= f.label t("description") %></dd>
          <dt><%= f.text_field :description %></dt>
          <br/>

          <dd><%= f.label t("delivery_date") %></dd>
          <dt><%= f.date_select :delivery_date %></dt>
          <br/>

          <dd><%= f.label t("unit_price") %></dd>
          <dt><%= f.text_field :unit_price %></dt>
          <br/>

          <dd><%= f.label t("quantity") %></dd>
          <dt><%= f.text_field :quantity %></dt>
          <br/>

          <dd><%= f.label t("state_id") %></dd>
          <dt><%= f.select_tag(:state_id, options_for_select([['Pendente', 1], ['Cancelada', 2], ['Concluida', 2]])) %></dt>
          <br/>

          <dd><%= f.label t("client") %></dd>
          <dt><%= f.text_field :client_id %></dt>

          <%= f.submit t("add_new_order")%>

      <% end %>
    </div>
  </div>
</div>