    <!-- g4PageContent -->
    <div class="col-lg-10 text-left">
      <h1><b><%= t("new_order") %></b></h1>
      <br> <br>

 <%= form_for @order, url:  {action: "create"} do |f| %>

            <table class="table table-responsive">
              <thead>
              <tr>
                <th><%= f.label t("description") %></th>
                <th><%= f.label t("delivery_date") %></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= f.text_field :description %></td>
                <td><%= f.date_select :delivery_date %></td>
              </tr>
              </tbody>
            </table>
<br/>
          <table class="table table-responsive">
          <thead>
            <tr>
              <th><%= f.label t("unit_price") %></th>
              <th> <%= f.label t("quantity") %></th>
              <th>Estado</th>
              <th>Anexos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= f.text_field :unit_price %></td>
              <td><%= f.text_field :quantity %></td>
              <td>PENDENTE</td>
              <td> <%= f.file_field :upload %> </td>
            </tr>
            </tbody>
            </table>

          <br/>
          <%= f.submit t("add")%>
          <a href="/order/show" class="btn" role="button">Cancelar</a>
      <% end %>
  </div>