<!-- Pag4Content -->
<div class="col-lg-10 text-left">
  <h1><b><%= t("new_order") %></b></h1>
  <br> <br>

  <%= form_for @order, url:  {action: "create"} do |f| %>

      <table class="table table-responsive">
        <thead>
        <tr>
          <th><%= f.label t("description") %></th>
          <th><%= f.label t("delivery_date") %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= f.text_field :description %></td>
          <td><%= f.date_select :delivery_date %></td>
        </tr>
        </tbody>
      </table>

      <br/>

      <table class="table table-responsive">
        <thead>
        <tr>
          <th><%= f.label t("unit_price") %></th>
          <th> <%= f.label t("quantity") %></th>
          <th><%= t("state_id") %></th>
          <th><%= t("archive") %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><%= f.text_field :unit_price %></td>
          <td><%= f.text_field :quantity %></td>
          <td><%= t("order_state.pending") %></td>
          <td> <%= f.file_field :upload %> </td>
        </tr>
        </tbody>
      </table>

      <br/>

      <a href="/order/hold" class="btn" role="button"><%= t("cancel") %></a>
      <%= f.submit t("submit")%>

  <% end %>
</div>