<!-- Pag4Content -->
<div class="col-lg-10 text-left">
  <h1><b><%= t("recent_orders") %></b></h1>
  <br /><br />
  <table class="table table-left">
    <thead>
    <tr>
      <th><%= t("id") %></th>
      <th><%= t("description") %></th>
      <th><%= t("delivery_date") %></th>
      <th><%= t("unit_price") %></th>
      <th><%= t("quantity") %></th>
      <th><%= t("state_id") %></th>
      <th><%= t("upload_id") %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.description %></td>
          <td><%= order.delivery_date %></td>
          <td><%= order.unit_price %></td>
          <td><%= order.quantity %></td>
          <td><%= order.state.description %></td>
          <td class="btn"><%= link_to t("attachment"), sprintf('/uploads/%s', order.upload.imageable_type), target: '_blank' %></td>
          <td class="w2-button"><%= link_to t("detail"), order_detail_path(order.id) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>