<%= stylesheet_link_tag 'estilos', media: 'all', 'data-turbolinks-track': 'reload' %>

<nav data-spy="scroll" data-target=".navbar" class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="button" href="/home/index"><img src="<%= asset_path '2.png' %>"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/index">PERFIL</a></li>
        <li><a href="/home/index/#q">QUEM SOMOS</a></li>
        <li><a href="/home/index/#missao">MISSÃO</a></li>
        <li><a href="/home/index/#linha">NOTÍCIAS</a></li>
        <li><a href="/home/index/#contact">CONTACTOS</a></li>
      </ul>
    </div>
  </div>
</nav>

<p/>
<form class="jumbotron text-center">
  <div class="input-group">
    <input type="search" class="form-control" placeholder="Search" required>
    <div class="input-group-btn">
      <button type="button" class="btn btn-danger">Procurar</button>
    </div>
  </div>
</form>
</div>

<div class="container-fluid text-left">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="/profile/index" class="w3-bar-item w3-button">PERFIL</a></p>
      <p><a href="/client_area/index" class="w3-bar-item w3-button">ÁREA DE CLIENTE</a></p>
      <p><a href="/order/show" class="w3-bar-item w3-button">ENCOMENDAS</a></p>
    </div>


    <div class="col-lg-10 text-left">
      <h1>Listagem de Encomenda</h1>
      <p></p>
      <br><br>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Nº</th>
          <th>Descrição</th>
          <th>Data de Entrega</th>
          <th>Preço Unitário</th>
          <th>Quantidade</th>
          <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd gradeX">
          <td><%= @order.id %></td>
          <td><%= @order.description %></td>
          <td><%= @order.delivery_date %></td>
          <td><%= @order.unit_price %></td>
          <td><%= @order.quantity %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

<br><br><br><br> <br><br><br><br><br><br><br><br>
<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>2016-2017 | PROJETO E DESENVOLVIMENTO DE SOFTWARE | GRUPO 4</p>
</footer>