<style>
  header, footer {
    padding: 1em;
    color: white;
    background-color: black;
  }

  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}

  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #000000;
    height: 100%;
  }
</style>

<br/>

<h1 align="center">Área de Cliente</h1>

<br/> <br/>

<%= form_for @client, :url => url_for(:controller => 'client_area', :action => 'save_client'), html: {class: 'container'} do |f| %>
    <div class="form-group" align="center">

      <label for="name"><%= t('name') %></label>
      <%= f.text_field :name %>
      <% if flash[:error] && flash[:error]['name'] %>
          <div class="alert danger"><%= flash[:error]['name'].join('<br/>') %></div>
      <% end %>

      <label for="phone_number"><%= t('phone_number') %></label>
      <%= f.text_field :phone_number %>
      <% if flash[:error] && flash[:error]['phone_number'] %>
          <div class="alert danger"><%= flash[:error]['phone_number'].join('<br/>') %></div>
      <% end %>

      <label for="nib"><%= t('nib') %></label>
      <%= f.text_field :nib %>
      <% if flash[:error] && flash[:error]['nib'] %>
          <div class="alert danger"><%= flash[:error]['nib'].join('<br/>') %></div>
      <% end %>

      <label for="address"><%= t('address') %></label>
      <%= f.text_field :address %>
      <% if flash[:error] && flash[:error]['address'] %>
          <div class="alert danger"><%= flash[:error]['address'].join('<br/>') %></div>
      <% end %>

    </div>

    <div align="right"><%= f.submit t('save')%></div>
    <button><%= link_to t('back'), client_area_index_path%></button>

<% end %>