<style>
  header {
    padding: 5px;
    background-color: black;
  }

  .row.content {height: 450px}

  .navbar {background-color: black;}

  .sidenav {
    padding-top: 30px;
    background-color: black;
    height: 150%;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }

  input[type=text]:focus {
    background-color: ghostwhite;
  }
</style>

<nav class="navbar ">
  <a class="navbar-brand" href="/home/index"><img src="<%= asset_path '2.png' %>"></a>
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Procurar</button>
  </form>
  </div>
</nav>

<br/>

<h1 align="center">Área de Cliente</h1>

<br/> <br/>

<%= form_for @client, :url => url_for(:controller => 'client_area', :action => 'save_client'), html: {class: 'container'} do |f| %>
    <div class="form-group">

      <label for="name"><%= t('name') %></label>
      <%= f.text_field :name %>
      <% if flash[:error] && flash[:error]['name'] %>
          <div class="alert danger"><%= flash[:error]['name'].join('<br/>') %></div>
      <% end %>

      <label for="phone_number"><%= t('phone_number') %></label>
      <%= f.text_field :phone_number %>
      <% if flash[:error] && flash[:error]['phone_number'] %>
          <div class="alert danger"><%= flash[:error]['phone_number'].join('<br/>') %></div>
      <% end %>

      <label for="nib"><%= t('nib') %></label>
      <%= f.text_field :nib %>
      <% if flash[:error] && flash[:error]['nib'] %>
          <div class="alert danger"><%= flash[:error]['nib'].join('<br/>') %></div>
      <% end %>

      <label for="address"><%= t('address') %></label>
      <%= f.text_field :address %>
      <% if flash[:error] && flash[:error]['address'] %>
          <div class="alert danger"><%= flash[:error]['address'].join('<br/>') %></div>
      <% end %>

    </div>

    <div align="right"><%= f.submit t('save')%></div>
    <button><%= link_to t('cancel'), client_area_index_path%></button>

<% end %>