<%= form_for @client, :url => url_for(:controller => 'client_area', :action => 'save_client'), html: {class: 'container'} do |f| %>
    <div class="form-group">
     #Nome
      <label for="name"><%= t('name') %></label>
      <%= f.text_field :name %>

      <% if flash[:error] && flash[:error]['name'] %>
          <div class="alert danger"><%= flash[:error]['name'].join('<br/>') %></div>
      <% end %>

      #Morada
      <label for="address"><%= t('address') %></label>
      <%= f.text_field :address %>

      <% if flash[:error] && flash[:error]['address'] %>
          <div class="alert danger"><%= flash[:error]['address'].join('<br/>') %></div>
      <% end %>

    </div>

    <%= f.submit t('save') %>




<% end %>