<!-- g4navbar -->
<nav data-spy="scroll" data-target=".navbar" class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="button" href="/home/index"><img src="<%= asset_path '2.png' %>"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/profile/index">PERFIL</a></li>
        <li><a href="/order/show">ENCOMENDAS</a></li>
        <li><a href="/order/new">NOVA ENCOMENDA</a></li>
        <li><input type="text" name="search" placeholder="Search.."></li>
      </ul>
    </div>
  </div>
</nav>

<p/>
<form class="jumbotron">
  <body>
  <header class="row" style="text-align: center;">
    <div class="col-md-3">
      <%= link_to 'PT', '/?lang=pt' %>
      <span>|</span>
      <%= link_to 'EN', '/?lang=en' %>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-3">
      <% if current_user %>
          <%= link_to 'Sign Out', destroy_user_session_path, {method: 'delete'} %>
      <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </div>
  </header>

  <%= yield %>

  <% if notice %>
      <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
  <% end %>
  <% if alert %>
      <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
  <% end %>
  </body>
</form>
</div>


<br/>

<h1><i align="center">Área de Cliente</i></h1>

<br/> <br/>

<%= form_for @client, :url => url_for(:controller => 'client_area', :action => 'save_client'), html: {class: 'container'} do |f| %>
    <div class="form-group">

      <label for="name"><%= t('name') %></label>
      <%= f.text_field :name %>
      <% if flash[:error] && flash[:error]['name'] %>
          <div class="alert danger"><%= flash[:error]['name'].join('<br/>') %></div>
      <% end %>

      <label for="phone_number"><%= t('phone_number') %></label>
      <%= f.text_field :phone_number %>
      <% if flash[:error] && flash[:error]['phone_number'] %>
          <div class="alert danger"><%= flash[:error]['phone_number'].join('<br/>') %></div>
      <% end %>

      <label for="nib"><%= t('nib') %></label>
      <%= f.text_field :nib %>
      <% if flash[:error] && flash[:error]['nib'] %>
          <div class="alert danger"><%= flash[:error]['nib'].join('<br/>') %></div>
      <% end %>

      <label for="address"><%= t('address') %></label>
      <%= f.text_field :address %>
      <% if flash[:error] && flash[:error]['address'] %>
          <div class="alert danger"><%= flash[:error]['address'].join('<br/>') %></div>
      <% end %>

    </div>

    <div align="right"><%= f.submit t('save')%></div>
    <button><%= link_to t('cancel'), client_area_index_path%></button>

<% end %>