<style>
  header, footer {
    padding: 1em;
    color: white;
    background-color: black;
  }

  .row.content {height: 450px}

  .sidenav {
    padding-top: 20px;
    background-color: #000000;
    height: 100%;
  }
</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/profile/index"><img src="<%= asset_path '2.png' %>"></a>
    </div>
    <form class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>


<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br> <a href="/client_area/index">Área de Cliente</a></br>
      <br><a href="/new_order/index">Nova Encomenda</a></br>
    </div>
    <div class="col-sm-8 text-left">
      <h1>ÁREA DE CLIENTE</h1>
      <p>Bem-Vindo à sua Área de Cliente!</p>

      <ul class="list-group">
        <li class="list-group-item">
          <dd><%= t('name') %></dd>
          <dt><%= @client.name %></dt>
        </li>

        <li class="list-group-item">
          <dd><%= t('phone_number') %></dd>
          <dt><%= @client.phone_number%></dt>
        </li>

        <li class="list-group-item">
          <dd><%= t('nib') %></dd>
          <dt><%= @client.nib%></dt>
        </li>

        <li class="list-group-item">
          <dd><%= t('nib') %></dd>
          <dt><%= @client.nib%></dt>
        </li>
      </ul>

      <%= link_to t('edit'), client_area_edit_client_path %>
  </div>
</div>

