   <!-- g4PageContent -->
    <div class="col-lg-10">
      <h1><b><%= t("client_area") %></b></h1>
      <i><%= t("welcome") %></i>
      <br /><br />
      <div class="col-lg-10">
       <table class="table table-responsive" style="margin-left: -20%">
          <thead>
            <tr>
              <th><%= t("name") %></th>
              <th><%= t("phone_number") %></th>
            </tr>
          </thead>
          <tbody>
            <tr class="odd gradeX">
              <td><dt><%= @client.name %></dt> </td>
              <td><dt><%= @client.phone_number%></dt></td>
            </tr>
          </tbody>
       </table>
        <table class="table table-responsive" style="margin-left: -20%">
          <thead>
          <tr>
            <th><%= t("nib") %></th>
            <th><%= t("address") %></th>
            <th></th></td>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td><dt><%= @client.nib %></dt></td>
            <td><dt><%= @client.address%></dt></td>
            <td class="w2-button"> <%= link_to t('edit'), client_area_edit_client_path %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>