<style>
  header {
    padding: 5px;
    background-color: black;
  }

  .row.content {height: 450px}

  .navbar {background-color: black;}

  .sidenav {
    padding-top: 30px;
    background-color: black;
    height: 100%;
  }
</style>

<nav class="navbar ">
  <a class="navbar-brand" href="/profile/index"><img src="<%= asset_path '2.png' %>"></a>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br><a href="/client_area/index">Área de Cliente</a></br>
      <br><a href="/new_order/index">Nova Encomenda</a></br>
    </div>

    <div class="col-sm-8 text-left">
      <h1>NOVA ENCOMENDA</h1>
      <p>Faça a sua encomenda</p>

      <%= form_for @order, :url => url_for(:controller => 'new_order', :action => 'save_order'), html: {class: 'container'} do |f| %>
          <br class="form-group">

          <label for="description"><%= t('description') %></label>
          <%= f.text_field :description %>
          <% if flash[:error] && flash[:error]['description'] %>
          <div class="alert danger"><%= flash[:error]['description'].join('<br/>') %></div>
          <% end %>

          <label for="delivery_date"><%= t('delivery_date') %></label>
          <%= f.text_field :delivery_date %>
          <% if flash[:error] && flash[:error]['delivery_date'] %>
              <div class="alert danger"><%= flash[:error]['delivery_date'].join('<br/>') %></div>
          <% end %>

          <br><br>

          <label for="unit_price"><%= t('unit_price') %></label>
          <%= f.text_field :unit_price %>
          <% if flash[:error] && flash[:error]['unit_price'] %>
              <div class="alert danger"><%= flash[:error]['unit_price'].join('<br/>') %></div>
          <% end %>

          <label for="quantity"><%= t('quantity') %></label>
          <%= f.text_field :quantity %>
          <% if flash[:error] && flash[:error]['quantity'] %>
              <div class="alert danger"><%= flash[:error]['quantity'].join('<br/>') %></div>
          <% end %>

          <br><br>
            <div align="right"><%= f.submit t('save') %> </div>

      <% end %>
     </div>
  </div>
</div>