<style>
  header {
    padding: 5px;
    background-color: black;
  }

  .row.content {height: 450px}

  .navbar {background-color: black;}

  .sidenav {
    padding-top: 30px;
    background-color: black;
    height: 150%;
  }

  input[type=text] {
    width: 15%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }

  input[type=text]:focus {
    background-color: ghostwhite;
  }
</style>

<nav class="navbar ">
  <a class="navbar-brand" href="/home/index"><img src="<%= asset_path '2.png' %>"></a>
  <form class="navbar-form navbar-right">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Procurar</button>
  </form>
  </div>
</nav>

<div class="container-fluid text-left">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br><a href="/profile/index">PERFIL</a></br>
      <br><a href="/client_area/index">ÁREA DE CLIENTE</a></br>
      <br>
      <div class="w3-dropdown-hover">
        <a href="#">ENCOMENDAS</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/pending_order/index" class="w3-bar-item w3-button">Encomendas Pendentes</a>
          <a href="#" class="w3-bar-item w3-button">Encomendas para Revisão</a>
          <a href="#" class="w3-bar-item w3-button">Encomendas Concluídas</a>
          <a href="/new_order/index" class="w3-bar-item w3-button">Nova Encomenda</a>
        </div>
      </div>
    </div>

    <div class="col-sm-8 text-left">
      <h1>NOVA ENCOMENDA</h1>
      <p>Faça a sua encomenda</p>

      <%= form_for @order, :url => url_for(:controller => 'new_order', :action => 'save_order'), html: {class: 'container'} do |f| %>
          <br class="form-group">

          <label for="description"><%= t('description') %></label>
          <%= f.text_field :description %>
          <% if flash[:error] && flash[:error]['description'] %>
          <div class="alert danger"><%= flash[:error]['description'].join('<br/>') %></div>
          <% end %>
          <br>
          <label for="delivery_date"><%= t('delivery_date') %></label>
          <%= f.date_select :delivery_date %>
          <% if flash[:error] && flash[:error]['delivery_date'] %>
              <div class="alert danger"><%= flash[:error]['delivery_date'].join('<br/>') %></div>
          <% end %>
          <br>
          <label for="unit_price"><%= t('unit_price') %></label>
          <%= f.text_field :unit_price %>
          <% if flash[:error] && flash[:error]['unit_price'] %>
              <div class="alert danger"><%= flash[:error]['unit_price'].join('<br/>') %></div>
          <% end %>
          <br>
          <label for="quantity"><%= t('quantity') %></label>
          <%= f.text_field :quantity %>
          <% if flash[:error] && flash[:error]['quantity'] %>
              <div class="alert danger"><%= flash[:error]['quantity'].join('<br/>') %></div>
          <% end %>
          <br>
          <label for="state"><%= t('state') %> </label>
          <%=f.text_field :state_id %></select>

          <br><br>
            <%= f.submit t('submit') %>

      <% end %>
     </div>
  </div>
</div>