<div class="container2">
    <!-- sli4e -->
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="<%= asset_path 'multi.jpg' %>" width="1893" height="697">
                    <header>
                        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
                            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">JOIA DA EUROPA</h1>
                            <h3 class="w3-hide-medium w3-hide-small"><%= t("welcome") %></h3>
                        </div>
                    </header>
                </div>
                <div class="item">
                    <img class="img-responsive" href="http://heelsfans.tumblr.com/" src="<%= asset_path '3.jpg' %>" width="1893" height="697" alt="Second slide">
                    <header>
                        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
                            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">JOIA DA EUROPA</h1>
                            <h3 class="w3-hide-medium w3-hide-small"><%= t("welcome") %></h3>
                        </div>
                    </header>
                </div>
                <div class="item">
                    <img class="img-responsive" href="http://lovelyfantaisie.tumblr.com/post/120463504840" src="<%= asset_path 'multi.jpg' %>" width="1893" height="697" alt="Third slide">
                    <header>
                        <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
                            <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">JOIA DA EUROPA</h1>
                            <h3 class="w3-hide-medium w3-hide-small"><%= t("welcome") %></h3>
                        </div>
                    </header>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>

        <div id="quem_somos" class="container-fluid">
            <div class="col-sm-8" id="q">
                <h2>QUEM SOMOS</h2><br>
                <p id="espgq4"><%= t("text_about") %></p><br>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="<%= asset_path 'red.jpg' %>" width="1893" height="697">
            </div>
        </div>

        <div class="container-fluid bg-grey" id="missao">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="<%= asset_path 'red.jpg' %>" width="1893" height="697" id="missimg">
                </div>
                <div class="col-sm-8"> <!--id="m"-->
                    <h2 id="tme">MISSÃO</h2><br>
                    <p id="tm"><%= t("text_mission") %></p>
                </div>
            </div>
        </div>

        <!-- N4ticias  -->
        <div class="container-fluid bg-grey" id="noticia">
            <h2>NOTICIAS</h2>
            <br><br>
            <div class="row slideanim">
                <div class="col-lg-4" onclick="openNav('myNav1')">
                    <img class="img-responsive" src="<%= asset_path 'Alemanha.jpg' %>" style="width: 487px" height="697" id="ne">
                    <div class="w3-display-topleft">
                        <a class="w3-button w3-padding-large w3-large"><%= t("title_n1") %></a>
                    </div>
                </div>
                <div class="col-lg-4" onclick="openNav('myNav2')">
                    <img class="img-responsive" src="<%= asset_path 'italia.jpg' %>" style="width: 800px" height="697" id="nm">
                    <div class="w3-display-topleft">
                        <a class="w3-button w3-padding-large w3-large"><%= t("title_n2") %></a>
                    </div>
                </div>
                <div class="col-lg-4" onclick="openNav('myNav3')">
                    <img class="img-responsive" src="<%= asset_path 'frança.jpg' %>" style="width: 800px" height="697" id="nd">
                    <div class="w3-display-topleft">
                        <a class="w3-button w3-padding-large w3-large"><%= t("title_n3") %></a></div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>

    <!-- M4dal1 -->
    <div id="myNav1" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNav1')">&times;</a>
        <div class="container-fluid bg-grey" id="missao">
            <div class="row">
                <div class="col-sm-4" id="qim2">
                    <img class="img-responsive" src="<%= asset_path 'Alemanha.jpg' %>" width="1893" height="697">
                </div>
                <div class="col-sm-8"> <!--id="m"-->
                    <h2>Feira na Alemanha 2016</h2><br>
                    <h4 id="m4">
                        textooooooo
                    </h4>
                </div>
            </div>
        </div>
    </div>

    <!-- M4dal2 -->
    <div id="myNav2" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNav2')">&times;</a>
        <div class="container-fluid bg-grey" id="missao">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="<%= asset_path 'italia.jpg' %>" width="1893" height="697">
                </div>
                <div class="col-sm-8"> <!--id="m"-->
                    <h2>Feira em Itália 2016</h2><br>
                    <p>
                        sou um industrial do calçado
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- M4dal3 -->
    <div id="myNav3" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNav3')">&times;</a>
        <div class="container-fluid bg-grey" id="missao">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-responsive" src="<%= asset_path 'frança.jpg' %>" width="1893" height="697">
                </div>
                <div class="col-sm-8"> <!--id="m"-->
                    <h2>Feira em França 2016</h2><br>
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--M4odal Login-->
    <div id="myNavl" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav('myNavl')">&times;</a>
        <div class="container-fluid bg-grey">
            <div class="wrapper text-center">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin'}) do |f| %>
                    <h2>LOGIN</h2>
                    <div class="field">
                        <%= f.label :email %><br/>
                        <%= f.email_field :email, autofocus: true %>
                    </div>

                    <div class="field">
                        <%= f.label :password %><br/>
                        <%= f.password_field :password, autocomplete: "off" %>
                    </div>

                    <% if devise_mapping.rememberable? -%>
                        <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end -%>

                    <div class="actions">
                        <%= f.submit "Log in" %>
                    </div>
                <% end %>

                <%= render "devise/shared/links" %>

                </form>
            </div>
        </div>
    </div>


    <!-- Cont4ctos -->
    <div id="portfolio" class="container-fluid text-center bg-grey">
        <!-- Container (Contact Section) -->
        <div id="contacto" class="container-fluid bg-grey">
            <h2 class="text-center">CONTACTOS</h2>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <br>
                    <br>
                    <br>
                    <p id="morad"><span class="glyphicon glyphicon-map-marker"></span> RUA SANTA MARIA, 437<BR>
                        BARROSAS<BR>
                        4650-139 IDÃES FLG</p>
                    <p id="morad"><span class="glyphicon glyphicon-phone"></span> +351 255 312 443 | Fax: +351 255 312
                        444
                    </p>
                    <br> <br><br>
                    <p id="morad"><span class="glyphicon glyphicon-envelope"></span> geral@joiadaeuropa.com</p>
                    <br>
                    <a href="https://www.facebook.com"><img src="<%= asset_path 'face.png' %>" width="5%"></a>
                    <span></span>
                    <a href="https://pt.linkedin.com/in/joia-europa-61a96ab7"><img src="<%= asset_path 'linkedin-128.png' %>" width="5%"></a>
                </div>
                <div class="col-sm-7 slideanim">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.8244340537403!2d-8.26794114893171!3d41.33443090713743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2465070c1b29cf%3A0x98bbd8be12c4332!2sJ%C3%B3ia+Da+Europa+-+Unipessoal%2C+Lda.!5e0!3m2!1spt-PT!2spt!4v1494173733000" width="600" height="450" frameborder="0" id="cm" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <!-- Add Google Maps -->
    </div>

    <!-- P4rceria -->
    <div class="container-fluid" id="parceria">
        <div class="container-fluid text-center">
            <h2>PARCERIAS</h2>
            <a href="http://www.fatimalopes.com"><img src="<%= asset_path 'fl.jpg' %>"></a>

        </div>
    </div>

</div>